.faqSection {
    width           : 100%;
    background-color: #2D2D2D;
    padding-bottom  : 5em;

    h1 {
        font-family   : "Raleway",sans-serif;
        font-weight   : 100;
        text-align    : center;
        color         : #f2f2f2;
        padding-top   : 2%;
        padding-bottom: 1em;
    }
}

.faqQuestion {
    font-family   : $roboto;
    color         : #cccccc;
    margin        : 0 auto;
    text-align    : left;
    margin-left   : 5%;
    padding-bottom: 1em;
}

.faqText {
    text-align    : justify;
    font-family   : Arial;
    color         : #a6a6a6;
    line-height   : 1.25em;
    margin        : 0 auto;
    width         : 80%;
    padding-bottom: 2em;
}
