header {
    @include darkenBackground("../images/roadPic.jpeg");
    background-position: center;
    background-size    : cover;
    padding-bottom     : 8em;
    @include angled-edge( 'inside bottom', 'upper left', #f2f2f2,100);
}

.headerIcon {
    padding: 0 1%;
    width  : 18%;
    opacity: 0.95;
    display: inline-block;
}

.socialMedia {
    float  : right;
    display: inline-block;
}

.headerText {
    
    color      : white;
    text-align : center;
    margin     : 12%;
    @media all and (max-width:600px) {
        margin-bottom: 20%;
    }
    @media all and (max-width:500px) {
        margin-bottom: 35%;
    }
    font-weight: 600;

    .redColor {
        color: $redColor;
    }

    .greenColor {
        color: $greenColor;
    }
   
    h1 {
        opacity       : 0.90;
        letter-spacing: 0.5em;
        margin-bottom : 1%;
    }

    h2 {
        opacity       : 0.5;
        letter-spacing: 0.3rem;
        font-family: 'Montserrat', sans-serif;
    }
}


.roadQuote {
    font-family: $roboto;
    font-weight: 100;
    color      : #8c8c8c;
    line-height: 1.5rem;
    opacity    : 0.6;
    width      : 20%;
    margin     : 0 auto;
    text-align : center;
    @media screen and (max-width: 1000px) {
        width: 50%;
    }
}
