h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 0.8rem; }

h6 {
  font-size: 0.4rem; }

@media all and (max-device-width: 1150px) {
  h1 {
    font-size: 2.1rem; }

  h2 {
    font-size: 1.7rem; }

  h3 {
    font-size: 1.3rem; }

  h4 {
    font-size: 0.9rem; }

  h5 {
    font-size: 0.5rem; }

  h6 {
    font-size: 0.1rem; } }
@media all and (max-device-width: 900px) {
  h1 {
    font-size: 1.7rem; }

  h2 {
    font-size: 1.3rem; }

  h3 {
    font-size: 0.9rem; }

  h4 {
    font-size: 0.5rem; }

  h5 {
    font-size: 0.1rem; }

  h6 {
    font-size: -0.3rem; } }
@media all and (max-device-width: 550px) {
  h1 {
    font-size: 1.4rem; }

  h2 {
    font-size: 1.1rem; }

  h3 {
    font-size: 0.8rem; }

  h4 {
    font-size: 0.5rem; }

  h5 {
    font-size: 0.2rem; }

  h6 {
    font-size: -0.1rem; } }
@media all and (max-device-width: 450px) {
  h1 {
    font-size: 1rem; }

  h2 {
    font-size: 0.8rem; }

  h3 {
    font-size: 0.6rem; }

  h4 {
    font-size: 0.4rem; }

  h5 {
    font-size: 0.2rem; }

  h6 {
    font-size: 0rem; } }
.societyPillar, .brotherhoodPillar, .remembrancePillar {
  width: 33%;
  margin: 0 auto;
  min-height: 20em;
  display: inline-block; }

.societyPillar {
  background-color: #990000; }

.brotherhoodPillar {
  background-color: #800000; }

.remembrancePillar {
  background-color: #004d00; }

header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 90%), url("../images/roadPic.jpeg");
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 90%), url("../images/roadPic.jpeg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 90%), url("../images/roadPic.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 90%), url("../images/roadPic.jpeg");
  background-position: center;
  background-size: cover;
  padding-bottom: 5em; }

.headerIcon {
  padding: 0 1%;
  width: 18%;
  opacity: 0.95; }

.headerText {
  color: white;
  text-align: center;
  margin: 12%;
  font-weight: 600; }
  @media all and (max-width: 600px) {
    .headerText {
      margin-bottom: 20%; } }
  @media all and (max-width: 500px) {
    .headerText {
      margin-bottom: 35%; } }
  .headerText .redColor {
    color: #990000; }
  .headerText .greenColor {
    color: #004d00; }
  .headerText h1 {
    opacity: 0.90;
    letter-spacing: .5em;
    margin-bottom: 1%; }
  .headerText h2 {
    opacity: 0.5;
    letter-spacing: .3rem; }

.roadQuote {
  font-family: "Karla";
  font-weight: 500;
  color: white;
  line-height: 1.5rem;
  opacity: 0.6;
  width: 70%;
  margin: 0 auto;
  text-align: center; }

.aboutSection, .nffSection, .chapterSection {
  width: 100%;
  background-color: #4d4d4d;
  padding: 2em 0; }

.nffSection {
  background-color: #d9d9d9; }

.chapterSection {
  background-color: #bfbfbf; }

.aboutHeader {
  font-family: "Raleway";
  font-weight: 400;
  color: #1a1a1a;
  width: 100%;
  text-align: center;
  padding-bottom: 1em; }

.aboutText {
  width: 70%;
  font-weight: 300;
  text-align: justify;
  margin: 0 auto;
  line-height: 1.5em;
  color: #1a1a1a;
  font-family: "Raleway";
  padding-bottom: 3em;
  clear: both; }

.leftFounder, .rightFounder {
  width: 48%;
  text-align: right;
  float: left;
  font-family: "Roboto Slab";
  margin-bottom: 2%; }
  .leftFounder h3, .rightFounder h3 {
    margin-bottom: 5%; }

.rightFounder {
  text-align: left;
  float: right; }

/*# sourceMappingURL=main.css.map */
